p {
    line-height: 2;
}
  a {
    background-color: rgba(17, 0, 255, 0);
    transition: background-color 0.5s;
  }
  
  a:hover {
    background-color: rgb(255, 255, 255);
  }
  p {
    font: italic small-caps bold 15px/30px Arial, serif;
  }
  body {
    font: italic small-caps bold 20px/20px Arial, serif;
  }
  div li{
    font-size: smaller;
  }
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
  background-color: #0059ff46;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #0059ff46;
  color: white;
}