.flex-container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 200px; 
    border: 2px solid #000000; 
  }
  
  .flex-item {
    width: 250px; 
    height: 100px; 
    background-color: #ffffff; 
    margin: 15px; 
  }